@import '../../variables.scss';
.stars-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colorWhite;
    button {
        border: 0px;
        outline: 0px;
        background-color: inherit;
        cursor: pointer;
        .material-icons {
            font-size: 5.2em;
            color: $colorStarWithOpacity;
        }
        .rankedPosition, .starSended {
            color: $colorStarWithoutOpacity;
        }
    }
}